---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  icon: "random" | "play";
};

const { icon, ...btnAttrs } = Astro.props;
---

<button {...btnAttrs}>
  <svg
    width="104"
    height="48"
    viewBox="0 0 104 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      class="back"
      width="104"
      height="48"
      rx="12"
      fill="url(#paint0_linear_164_71)"></rect>
    <g class="face">
      <rect
        x="1.06665"
        width="101.867"
        height="44"
        rx="10"
        fill="url(#paint1_linear_164_71)"></rect>
      <g data-icon={icon}>
        {
          icon === "play" && (
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M43.9094 12.6255C43.9094 10.6302 46.1343 9.36765 47.9532 10.3282L64.7452 19.2028C66.6296 20.1983 66.6296 22.8004 64.7452 23.7974L47.9546 32.6719C46.1357 33.6325 43.9109 32.3685 43.9109 30.3747L43.9094 12.6255Z"
              fill="#182B44"
            />
          )
        }
        {
          icon === "random" && (
            <path
              d="M50.4552 5.42608C50.9373 5.14697 51.4846 5 52.0417 5C52.5988 5 53.146 5.14697 53.6282 5.42608L65.5032 12.3009C65.9837 12.5791 66.3827 12.9788 66.66 13.4598C66.9374 13.9409 67.0834 14.4864 67.0833 15.0417V28.8072C67.0831 29.3622 66.937 29.9074 66.6596 30.3881C66.3823 30.8689 65.9835 31.2683 65.5032 31.5463L53.6282 38.4228C53.146 38.7019 52.5988 38.8488 52.0417 38.8488C51.4846 38.8488 50.9373 38.7019 50.4552 38.4228L38.5802 31.5479C38.0996 31.2697 37.7006 30.8701 37.4233 30.389C37.146 29.908 37 29.3624 37 28.8072V15.0417C37.0002 14.4867 37.1464 13.9415 37.4237 13.4607C37.701 12.98 38.0998 12.5806 38.5802 12.3025L50.4552 5.42608ZM40.1667 15.0417V15.0496L50.4615 21.0093C50.9421 21.2874 51.341 21.6871 51.6184 22.1682C51.8957 22.6492 52.0417 23.1947 52.0417 23.75V35.682L63.9167 28.8072V15.0417L52.0417 8.16683L40.1667 15.0417ZM42.7507 22.3994C42.7507 21.5254 42.1363 20.4614 41.3795 20.0244C40.6227 19.5874 40.0083 19.9421 40.0083 20.8161C40.0083 21.6901 40.6227 22.7541 41.3795 23.1911C42.1363 23.6281 42.7507 23.2734 42.7507 22.3994ZM46.8626 32.6879C47.6194 33.1249 48.2338 32.7718 48.2338 31.8963C48.2338 31.0223 47.6194 29.9583 46.8626 29.5213C46.1058 29.0843 45.4914 29.4389 45.4914 30.3129C45.4914 31.1869 46.1058 32.2509 46.8626 32.6879ZM41.3795 29.5244C42.1363 29.9614 42.7507 29.6068 42.7507 28.7328C42.7507 27.8588 42.1363 26.7948 41.3795 26.3578C40.6227 25.9208 40.0083 26.2754 40.0083 27.1494C40.0083 28.0234 40.6227 29.0874 41.3795 29.5244ZM46.8626 26.3578C47.6194 26.7963 48.2338 26.4417 48.2322 25.5661C48.2322 24.6921 47.6194 23.6297 46.861 23.1911C46.1042 22.7541 45.4898 23.1088 45.4898 23.9828C45.4898 24.8583 46.1042 25.9208 46.8626 26.3578ZM56.6302 15.5911C57.387 15.1541 57.387 14.4448 56.6302 14.0078C55.8733 13.5708 54.6447 13.5708 53.8878 14.0078C53.1294 14.4448 53.1294 15.1541 53.8878 15.5911C54.6447 16.0281 55.8733 16.0281 56.6302 15.5911ZM49.0302 14.0078C49.787 14.4448 49.787 15.1541 49.0302 15.5911C48.2733 16.0281 47.0447 16.0281 46.2878 15.5911C45.531 15.1541 45.531 14.4448 46.2878 14.0078C47.0447 13.5708 48.2733 13.5708 49.0302 14.0078ZM58.3671 27.2286C59.3139 26.6808 60.0818 25.3523 60.0818 24.2598C60.0818 23.1673 59.3139 22.724 58.3687 23.2703C57.4218 23.8165 56.6539 25.1449 56.6539 26.239C56.6539 27.3315 57.4218 27.7748 58.3671 27.2286Z"
              fill="#182B44"
            />
          )
        }
      </g>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_164_71"
        x1="52"
        y1="0"
        x2="52"
        y2="48"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#2ECDED"></stop>
        <stop offset="1" stop-color="#12448B"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_164_71"
        x1="52"
        y1="0"
        x2="52"
        y2="44"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#31D0F0"></stop>
        <stop offset="1" stop-color="#376BD1"></stop>
      </linearGradient>
    </defs>
  </svg>
</button>

<style>
  button {
    width: 25%;
  }
  .face,
  .back {
    transition:
      filter var(--transition-timing-function-in-out) 0.2s,
      transform var(--transition-timing-function-spring-5) 0.5s;
  }
  svg {
    width: 100%;
    height: 100%;
  }
  button:hover .face {
    filter: brightness(1.2);
  }
  button:active .face {
    transform: scale(1.02) translateY(7%);
  }
  button .face {
    transform-origin: center center;
  }
  button .back {
    transform-origin: center bottom;
  }
  button:active .back {
    transform: scaleY(0.9);
  }
</style>
