@mixin header {
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 84px;
  line-height: 1.15;
}

@mixin subheader {
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.03em;
  line-height: 1.15;
}
