$tablet-breakpoint: 1300px;
$mobile-breakpoint: 850px;

@mixin header-font {
  font-family: var(--header-font);
  font-weight: normal;
  line-height: 1.15;
}

@mixin numbered-header {
  position: relative;

  &::before {
    font-family: var(--header-font);
    counter-increment: section-number;
    content: counter(section-number);
    background: var(--bg-color-2);
    border-radius: 100%;

    position: absolute;
    top: -1.3em;
    left: -1em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    color: var(--bg-color);
    z-index: -1;
  }
}

@mixin header {
  @include header-font;
  font-size: 84px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 72px;
  }
}

@mixin subheader-font {
  font-family: var(--body-font);
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.15;
}

@mixin subheader {
  @include subheader-font;
  font-size: 44px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 36px;
  }
}

@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet-and-up {
  @media (min-width: $mobile-breakpoint + 1) {
    @content;
  }
}
