@import './mixins.scss';

$mobile-breakpoint: 850px;

#site-navigation {
  background: var(--bg-color);
  z-index: 9;
  width: 100%;

  position: fixed;
  height: var(--nav-height);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a,
  a:visited {
    @include header;
    font-size: 24px;
    color: var(--body-color);
    margin: 50px 30px;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;

    li {
      line-height: 0;
    }
  }

  #primary-nav {
    $base-duration: 200ms;
    $delay-duration: 40ms;
    --anim-duration: #{$base-duration + 4 * $delay-duration};
    a {
      opacity: 0.5;
    }
    a.active {
      opacity: 1;
      font-weight: bold;
    }

    width: min-content;
    margin-left: auto;
    display: flex;
    justify-items: flex-end;
    max-width: var(--content-max-width);

    li {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: $base-duration;
      pointer-events: none;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transform: translateX(80px * (5 - $i));
          transition-delay: $delay-duration * (5 - $i);
        }
      }
    }

    &.toggled {
      li {
        opacity: 1;
        transform: translateX(0);
        transition-timing-function: ease-out;
        pointer-events: all;
      }
      ~ #primary-nav-toggle {
        .stripe-top {
          transform: rotate(-45deg);
        }
        .stripe-bottom {
          transform: rotate(45deg);
        }
        .stripe-middle {
          transform: scaleX(0);
        }
      }
    }
  }

  #current-section {
    font-family: var(--header-font);
    font-size: 24px;
  }

  #primary-nav-toggle {
    height: 24px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0 30px;

    * {
      border-bottom: 4px solid var(--body-color);
      transition: transform 0.2s, opacity 0.2s;
    }

    .stripe-top {
      transform-origin: top right;
    }

    .stripe-bottom {
      transform-origin: bottom right;
    }
  }

  @media (min-width: $mobile-breakpoint) {
    .mobile {
      display: none;
    }
  }
}
