@import './mixins.scss';

$mobile-breakpoint: 850px;

#site-navigation {
  background: var(--bg-color);
  z-index: 9;
  width: 100%;

  position: fixed;
  height: var(--nav-height);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a,
  a:visited {
    @include header;
    font-size: inherit;
    color: var(--body-color);
    margin: 50px 30px;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

    li {
      line-height: 0;
    }
  }

  #jump-to-section__links > .heading {
    font-weight: normal;
    font-size: 24px;
  }

  #primary-nav {
    a {
      opacity: 0.5;
    }
    a.active {
      opacity: 1;
      font-weight: bold;
    }
  }

  #current-section {
    font-family: var(--header-font);
    font-size: 24px;
  }

  #primary-nav-toggle {
    height: 24px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin-right: 30px;

    * {
      border-bottom: 4px solid var(--body-color);
      transition: transform 0.2s, opacity 0.2s;
    }

    .stripe-top {
      transform-origin: top right;
    }

    .stripe-bottom {
      transform-origin: bottom right;
    }
  }

  @media (min-width: $mobile-breakpoint) {
    .mobile {
      display: none;
    }
  }

  @media (min-width: $mobile-breakpoint) {
    #primary-nav {
      max-width: var(--content-max-width);
      width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 24px;
    }
    #primary-nav-toggle {
      margin-left: 48px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    writing-mode: initial;
    left: 0;
    width: 100vw;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--bg-color-2);

    #primary-nav-toggle {
      margin-left: auto;
    }

    #jump-to-section-toggle {
      font-size: 24px;
      transition: background-position-y 0.3s;
      background: linear-gradient(
        var(--green) 33.33%,
        var(--red) 33.33%,
        var(--red) 66.67%,
        var(--purple) 66.67%
      );
      background-size: 100% 300%;
      margin-right: 20px;

      height: 100%;
      padding: 0;
      padding-left: 20px;
      padding-right: 15px;
      color: var(--bg-color);
      font-weight: bold;

      svg {
        margin-left: 5px;
        width: 30px;
        vertical-align: middle;
        fill: var(--bg-color);
      }
    }

    ul {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0; /* hide until mobile nav toggled */
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      overflow: hidden;
      background: var(--bg-color);
      transition: height 0.3s, opacity 0.4s;
      z-index: -1;
      font-size: 36px;

      li {
        margin: 30px;
        margin-left: 0;
      }

      a {
        display: block;
        margin: 0;
      }
    }

    #primary-nav {
      a {
        text-align: end;
      }
    }

    #primary-nav.toggled {
      height: 100vh;

      ~ #primary-nav-toggle {
        .stripe-top {
          transform: rotate(-45deg);
        }
        .stripe-bottom {
          transform: rotate(45deg);
        }
        .stripe-middle {
          transform: scaleX(0);
        }
      }
    }

    #jump-to-section__links.toggled {
      height: 100vh;
    }
  }
}
