:root {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --default-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --body-font: proxima-nova, 'Open Sans', var(--default-fonts);
  --header-font: rigid-square, 'Fira Code', monospace, var(--default-fonts);
  --body-color: #5f4b32;
  --bg-color: #f9f1db;
  --bg-color-2: #d9c7ab;
  --green: #24ac6c;
  --green-faded: #5fb88e;
  --section-color: var(--green);
  --purple: #6b56a7;
  --red: #e46a4e;
  --red-faded: #e07c64;
  --red-dim: #e4694e71;
  --content-max-width: 1400px;
  --nav-height: 100px;
  --me-font-size: 24px; }

* {
  box-sizing: border-box; }

svg {
  fill: red; }

html {
  font-family: var(--body-font);
  font-size: var(--me-font-size);
  color: var(--body-color);
  background: var(--bg-color); }

nav {
  writing-mode: vertical-rl;
  position: fixed;
  height: var(--nav-height);
  max-width: 100vh;
  top: 0;
  right: 0;
  padding-top: 50px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: var(--header-font);
  font-weight: bold; }

nav a,
nav a:visited {
  color: var(--body-color);
  margin: 50px 30px;
  opacity: 0.5;
  text-decoration: none; }

nav a.active {
  opacity: 1; }

#dashed-line {
  position: fixed;
  right: var(--nav-height);
  top: 0;
  bottom: -50px;
  width: 2px;
  background-image: repeating-linear-gradient(var(--body-color) 0, var(--body-color) 50%, transparent 50%, transparent 100%);
  background-size: 2px 50px; }

h1,
h2,
h3 {
  font-family: var(--header-font); }

h1,
h2 {
  font-size: 100px; }

h2 {
  font-weight: normal; }

h3 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px; }

a,
a:visited {
  color: var(--section-color);
  text-decoration: underline dashed; }

a:hover {
  animation: flash 0.4s linear infinite; }

@keyframes flash {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

.relative {
  position: relative; }

body {
  counter-reset: section-number; }

section {
  max-width: var(--content-max-width);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
  margin-top: 100px; }

[data-route='/'] .icon-before:before,
[data-route='/'] .icon-after:after {
  --icon-size: 1.5em;
  --icon-color: var(--section-color);
  content: '';
  mask-image: var(--icon-source);
  -webkit-mask-image: var(--icon-source);
  mask-size: var(--icon-size);
  -webkit-mask-size: var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--icon-color); }
  [data-route='/'] .icon-before:before .devto,
  [data-route='/'] .icon-after:after .devto {
    --icon-source: url('/static/icons/devto.svg'); }
  [data-route='/'] .icon-before:before .notion,
  [data-route='/'] .icon-after:after .notion {
    --icon-source: url('/static/icons/notion.svg'); }
  [data-route='/'] .icon-before:before .arrow-down,
  [data-route='/'] .icon-after:after .arrow-down {
    --icon-source: url('/static/icons/arrow-down.svg'); }
  [data-route='/'] .icon-before:before .arrow-right,
  [data-route='/'] .icon-after:after .arrow-right {
    --icon-source: url('/static/icons/arrow-right.svg'); }

[data-route='/'] .line-accents-container {
  max-width: var(--content-max-width);
  margin: auto;
  margin-top: -100px;
  padding-right: 50px;
  height: 200px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center; }
  [data-route='/'] .line-accents-container .inner-container {
    display: flex;
    margin-right: 10%; }
    [data-route='/'] .line-accents-container .inner-container * {
      width: 10px;
      position: relative;
      margin-right: 10px;
      transition: transform 0.5s;
      transform-origin: top;
      height: 100px;
      opacity: 0.8; }
    [data-route='/'] .line-accents-container .inner-container :nth-child(1) {
      background-color: var(--green); }
    [data-route='/'] .line-accents-container .inner-container :nth-child(2) {
      top: -40px;
      background-color: var(--red); }
    [data-route='/'] .line-accents-container .inner-container :nth-child(3) {
      top: -80px;
      background-color: var(--purple); }
    [data-route='/'] .line-accents-container .inner-container .active {
      opacity: 1;
      transform: scaleY(5); }

@media (max-width: 1700px) {
  [data-route='/'] section,
  [data-route='/'] .line-accents-container {
    margin-right: var(--nav-height); } }

[data-route='/'] .sub-section {
  margin-top: 0; }

[data-route='/'] section.header {
  height: 100vh;
  min-height: 900px;
  max-height: 1200px;
  margin-top: 0;
  align-content: center;
  align-items: center; }
  [data-route='/'] section.header img {
    width: calc(100% + 100px);
    height: auto; }
  [data-route='/'] section.header .content {
    font-size: 44px;
    font-family: var(--header-font); }
    [data-route='/'] section.header .content h1 {
      text-transform: uppercase;
      max-width: 400px;
      margin-top: 0; }
    [data-route='/'] section.header .content ul {
      padding: 0;
      list-style-type: none;
      font-weight: 300; }
    [data-route='/'] section.header .content a {
      display: flex;
      text-decoration: none;
      align-items: center;
      font-weight: bold;
      margin-top: 75px; }
      [data-route='/'] section.header .content a ::after {
        --icon-size: 1em;
        margin-left: 30px;
        animation: float-up-down ease-in-out 2s infinite; }

[data-route='/'] section,
[data-route='/'] section.header {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 200px; }

@media (max-width: 1200px) {
  [data-route='/'] section,
  [data-route='/'] sectionheader {
    gap: 100px; } }

[data-route='/'] #inbrief-section .social-links a,
[data-route='/'] #inbrief-section .social-links a:visited {
  font-size: 30px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  color: inherit; }

[data-route='/'] #inbrief-section .social-links a > img {
  width: 30px;
  height: 30px;
  margin-right: 20px; }

[data-route='/'] #inbrief-section .switch__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

[data-route='/'] #inbrief-section .switch__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-font);
  color: var(--bg-color-2);
  font-size: 36px;
  cursor: pointer;
  margin-bottom: 20px; }
  [data-route='/'] #inbrief-section .switch__text :hover > .slider {
    height: 0.8em;
    background: repeating-linear-gradient(45deg, var(--bg-color-2) 0, var(--bg-color-2) 25%, transparent 0%, transparent 50%);
    background-size: 35px 35px;
    background-position: 0 0;
    animation: stripe-anim 3s linear infinite; }
  [data-route='/'] #inbrief-section .switch__text .slider :before {
    content: '';
    height: 0.8em;
    width: 0.8em;
    margin: -0.2em;
    background-color: var(--section-color);
    border-radius: 100%;
    transition: transform 0.2s; }
  [data-route='/'] #inbrief-section .switch__text .personal {
    color: var(--section-color);
    font-weight: bold; }
  [data-route='/'] #inbrief-section .switch__text .content__recruiter {
    display: none; }

[data-route='/'] #inbrief-section input:focus ~ .switch-text > .slider {
  border: 5px solid var(--section-color); }

[data-route='/'] #inbrief-section input:checked ~ .switch-text .personal {
  color: inherit;
  font-weight: normal; }

[data-route='/'] #inbrief-section input:checked ~ .switch-text .recruiter {
  color: var(--section-color);
  font-weight: bold; }

[data-route='/'] #inbrief-section input:checked ~ .switch-text .slider::before {
  transform: translateX(100%); }

[data-route='/'] .me-section-header.in-brief {
  display: grid;
  grid-template-areas: 'header header' 'in-brief description';
  align-content: flex-start;
  grid-template-columns: 50px 1fr; }

[data-route='/'] .me-section-header__in-brief-label {
  grid-area: in-brief;
  font-family: var(--header-font);
  font-weight: bold;
  margin: 0;
  color: var(--section-color);
  writing-mode: vertical-lr; }

[data-route='/'] .me-section-header.in-brief > ul {
  grid-area: description;
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

[data-route='/'] .me-section-header.in-brief li {
  margin-bottom: 15px; }

[data-route='/'] .me-section-header > h2 {
  grid-area: header;
  position: relative;
  margin-top: 0; }

[data-route='/'] .me-section-header > h2:before {
  counter-increment: section-number;
  content: counter(section-number);
  background: var(--bg-color-2);
  border-radius: 100%;
  position: absolute;
  top: -1.3em;
  left: -1em;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  color: var(--bg-color);
  z-index: -1; }

[data-route='/'] .img-link {
  margin-top: 30px;
  text-decoration: none; }

[data-route='/'] .img-link__img-container {
  position: relative; }

[data-route='/'] .img-link__img-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  right: 0;
  border-left: 10px solid var(--section-color);
  border-bottom: 10px solid var(--section-color);
  background: repeating-linear-gradient(45deg, var(--red-dim) 0, var(--red-dim) 25%, transparent 0%, transparent 50%);
  background-size: 50px 50px;
  background-position: 0 0;
  z-index: -1;
  transition: transform 0.5s;
  transform: translate(-6px, 6px); }

@keyframes stripe-anim {
  to {
    background-position: -75px, -75px; } }

[data-route='/'] .img-link__img-container > img {
  width: 100%;
  transition: transform 0.5s; }

[data-route='/'] .img-link:hover > .img-link__img-container > img {
  transform: translate(20px, -20px); }

[data-route='/'] .img-link:hover > .img-link__img-container:after {
  animation: stripe-anim 3s linear infinite; }

[data-route='/'] .cta-link:hover,
[data-route='/'] .img-link:hover {
  animation: none; }

[data-route='/'] .cta-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--section-color);
  color: var(--section-color);
  font-family: var(--header-font);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  background: linear-gradient(90deg, var(--section-color) 0, var(--section-color) 50%, var(--bg-color) 50%, var(--bg-color) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  margin: 0;
  margin-top: 50px; }

[data-route='/'] .cta-link:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -9px;
  right: 3px;
  bottom: -9px;
  background: var(--section-color);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left; }

[data-route='/'] .cta-link:hover,
[data-route='/'] .img-link:hover > .cta-link {
  background-position: 0;
  color: var(--bg-color); }

[data-route='/'] .cta-link:hover:before,
[data-route='/'] .img-link:hover > .cta-link:before {
  transform: translate(6px, -3px) scaleX(0); }

[data-route='/'] .cta-link:hover:after,
[data-route='/'] .img-link:hover > .cta-link:after {
  --icon-color: var(--bg-color);
  transition: background-color 0.1s;
  transition-delay: 0.3s; }

[data-route='/'] .section-me__grid-header {
  grid-column: 1 / span 2; }

[data-route='/'] .me-blog-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

[data-route='/'] .me-blog-post,
[data-route='/'] .me-blog-post:visited {
  position: relative;
  display: grid;
  grid-template-areas: 'icon title' 'min-read title';
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 1fr;
  column-gap: 20px;
  color: var(--body-color);
  text-decoration: none;
  margin-bottom: 40px; }

[data-route='/'] .me-blog-post:after {
  --size: 15px;
  content: '';
  position: absolute;
  background: url("/static/icons/arrow-link-accent.svg");
  background-size: var(--size) var(--size);
  top: -10px;
  right: -20px;
  width: var(--size);
  height: var(--size);
  transition: transform 0.2s; }

[data-route='/'] .me-blog-post:hover:after {
  transform: translate(15px, -15px); }

[data-route='/'] .me-blog-post__title {
  grid-area: title;
  font-size: 30px;
  font-weight: 600;
  align-self: center; }

[data-route='/'] .me-blog-post__icon {
  height: 50px;
  width: 50px;
  margin: auto;
  grid-area: icon; }

[data-route='/'] .me-blog-post__min-read {
  grid-area: min-read;
  margin: 0;
  font-family: var(--header-font);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px; }

[data-route='/'] .me-headline-blog-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

[data-route='/'] .me-headline-blog-post__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--body-color); }

[data-route='/'] .me-headline-blog-post__min-read {
  position: absolute;
  bottom: 16px;
  left: 10px;
  background: var(--bg-color);
  padding: 5px 10px;
  margin: 0;
  color: var(--body-color);
  font-family: var(--header-font);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center; }

[data-route='/'] .me-headline-blog-post__icon {
  height: 1.5em;
  margin-right: 10px; }

@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(10px); } }
