---
import { CollectionEntry, getCollection } from "astro:content";
import ScrollProgress from '../../components/ScrollProgress.svelte';
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((p) => ({ params: { slug: p.slug }, props: p }));
}

type Props = CollectionEntry<"blog">;


const post = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout {headings}>
  <main>
    <h1>{post.data.title}</h1>
    <ScrollProgress client:load>
        <Content />
    </ScrollProgress>
  </main>
</BaseLayout>

<style>
  main {
    max-width: 65ch;
    margin: auto;
  }
  main :global(p) {
    margin-block: var(--size-3);
  }
  main :global(article) {
    margin-inline: var(--size-3);
  }
</style>
