---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { articleRef } from "../../components/ScrollableBody.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((p) => ({ params: { slug: p.slug }, props: p }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout {headings}>
  <main x-ref={articleRef}>
    <h1>{post.data.title}</h1>
    <Content />
  </main>
</BaseLayout>

<style>
  main {
    max-width: 65ch;
    margin: auto;
    padding-inline: var(--size-3);
  }
  main :global(p) {
    margin-block: var(--size-3);
  }
</style>
