---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((p) => ({ params: { slug: p.slug }, props: p }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout {headings}>
  <article-scroll>
    <main class="max-w-prose m-auto px-3 prose dark:prose-invert">
      <h1>{post.data.title}</h1>
      <Content />
    </main>
  </article-scroll>
</BaseLayout>

<script>
  import "../../components/article-scroll";
</script>
