@import '../_includes/mixins.scss';

section {
  --content-max-width: 920px;
  padding-bottom: 0;

  h1 {
    margin-bottom: 20px;
  }
  .post-count {
    margin-bottom: 48px;
  }

  article {
    h2 {
      @include subheader-font;

      font-size: 30px;
      margin-bottom: 12px;

      @include mobile {
        font-size: 24px;
      }

      a,
      a:visited {
        text-decoration: none;
      }
    }
    time {
      font-weight: bold;
    }
    margin-bottom: 48px;
  }
}
