:root {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;

  --default-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --body-font: proxima-nova, 'Open Sans', var(--default-fonts);
  --header-font: rigid-square, 'Fira Code', monospace, var(--default-fonts);

  --body-color: #5f4b32;
  --bg-color: #f9f1db;
  --bg-color-2: #d9c7ab;
  --green: #5fb88e;
  --red: #e46a4e;
  --red-dim: #e4694e71;

  --content-max-width: 1400px;
  --nav-height: 100px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--body-font);
  color: var(--body-color);
  background: var(--bg-color);
}

nav {
  writing-mode: vertical-rl;

  position: fixed;
  height: var(--nav-height);
  max-width: 100vh;
  top: 0;
  right: 0;
  padding-top: 50px;

  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: var(--header-font);
  font-weight: bold;
}

nav a,
nav a:visited {
  color: var(--body-color);
  margin: 50px 30px;
  opacity: 0.5;
}

nav a.active {
  opacity: 1;
}

#dashed-line {
  position: fixed;
  right: var(--nav-height);
  top: 0;
  bottom: -50px;
  width: 2px;
  background-image: repeating-linear-gradient(
    var(--body-color) 0,
    var(--body-color) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 2px 50px;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

h1 {
  font-size: 72px;
}

h2 {
  font-weight: normal;
  font-size: 60px;
}

a {
  text-decoration: none;
}

/* home page */

body {
  counter-reset: section-number;
}

section {
  max-width: var(--content-max-width);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 200px;
}

@media (max-width: 1700px) {
  section {
    margin-right: calc(var(--nav-height) + 50px);
  }
}

.header-text {
  font-size: 36px;
  font-family: var(--header-font);
}

.header-text h1 {
  text-transform: uppercase;
  max-width: 400px;
  font-size: 72px;
}

.header-text ul {
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}

.header-text a {
  display: flex;
  align-items: center;
  color: var(--green);
  font-weight: bold;
  margin-top: 75px;
}

.header-text a > img {
  margin-left: 30px;
  animation: float-up-down ease-in-out 2s infinite;
}

section.header {
  margin-top: 100px;
}

section.me-description,
section.header {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 150px;
}

@media (max-width: 1200px) {
  section.me-description,
  section.header {
    gap: 100px;
  }
}

section.header > img {
  width: calc(100% + 100px);
  height: auto;
}

section.me-description {
  font-size: 20px;
  margin-top: 100px;
}

section.me-description > .content-header {
  display: grid;
  grid-template-areas:
    'header header'
    'in-brief description';
  align-content: flex-start;
  grid-template-columns: 50px 1fr;
}

section.me-description > .content-header > .in-brief-header {
  grid-area: in-brief;
  font-family: var(--header-font);
  font-weight: bold;
  margin: 0;
  color: var(--section-color);
  writing-mode: vertical-lr;
}

section.me-description > .content-header > ul {
  grid-area: description;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

section.me-description > .content-header li {
  margin-bottom: 15px;
}

section.me-description > .content-header > h2 {
  grid-area: header;
  position: relative;
  font-size: 72px;
  margin-top: 0;
}

section.me-description > .content-header > h2:before {
  counter-increment: section-number;
  content: counter(section-number);
  background: var(--bg-color-2);
  border-radius: 100%;

  position: absolute;
  top: -1.3em;
  left: -1em;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  color: var(--bg-color);
  z-index: -1;
}

a.image-link {
  margin-top: 30px;
}

.image-link .img-container {
  position: relative;
}

.image-link .img-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-left: 10px solid var(--section-color);
  border-bottom: 10px solid var(--section-color);
  background: repeating-linear-gradient(
    45deg,
    var(--red-dim) 0,
    var(--red-dim) 25%,
    transparent 0%,
    transparent 50%
  );
  background-size: 50px 50px;
  background-position: 0 0;
  z-index: -1;
  transition: transform 0.5s;
  transform: translate(-6px, 6px);
}

@keyframes stripe-anim {
  to {
    background-position: -40px, -40px;
  }
}

a.image-link .img-container img {
  width: 100%;
  transition: transform 0.5s;
}

.image-link:hover .img-container img {
  transform: translate(20px, -20px);
}

.image-link:hover .img-container:after {
  animation: stripe-anim 3s linear infinite;
}

a.image-link p {
  margin-top: 50px;
  border: 3px solid var(--section-color);
  color: var(--section-color);
  font-family: var(--header-font);
  font-weight: bold;
  padding: 10px;
  position: relative;
  background: linear-gradient(
    90deg,
    var(--section-color) 0,
    var(--section-color) 50%,
    var(--bg-color) 50%,
    var(--bg-color) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}

a.image-link:hover p {
  background-position: 0;
  color: var(--bg-color);
}

a.image-link p:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -9px;
  right: 3px;
  bottom: -9px;
  background: var(--section-color);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left;
}

a.image-link:hover p:before {
  transform: translate(6px, -3px) scaleX(0);
}

@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}
