---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
import Whiteboard from "./Whiteboard.astro";
---

<section class="flex max-w-[120ch] items-center justify-center mx-auto p-3">
  <div>
    <h1 class="text-9xl">
      Hi, I'm <strong
        class="bg-clip-text text-transparent bg-gradient-to-r from-[#9b5dff] to-[#6200ff]"
        >Ben.</strong
      >
    </h1>
    <p class="text-xl mb-5 text-slate-400">
      The <span class="text-white">whiteboard guy</span> who codes kinda well.
    </p>
    <div class="flex gap-6">
      <Button is="a" data-watch-btn>
        Watch <Icon name="arrow-down" class="mx-[-3px] mb-[2px]" />
      </Button>
      <Button is="button" data-draw-btn>
        Draw <Icon name="draw" class="mb-[2px]" />
      </Button>
    </div>
  </div>
  <Whiteboard />
</section>

<style>
  [data-watch-btn] {
    background: linear-gradient(288deg, #6200ff80 59.32%, #a571f980 92.52%),
      linear-gradient(129deg, #7c2aff 27.53%, #6200ff 67.2%);
  }
  [data-watch-btn]:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -0.2rem;
    bottom: -0.35rem;
    top: 0;
    border-radius: theme(borderRadius.2xl);
    background: linear-gradient(139deg, #6200ff 23.15%, #3b0493 74.32%);
  }
  [data-draw-btn] {
    background: linear-gradient(
        288deg,
        rgba(49, 62, 81, 0.2) 59.32%,
        rgba(133, 155, 187, 0.2) 92.52%
      ),
      linear-gradient(129deg, #334155 27.53%, #303c4f 67.2%);
    /* background: red; */
  }
  [data-draw-btn]:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -0.2rem;
    bottom: -0.35rem;
    top: 0;
    border-radius: theme(borderRadius.2xl);
    background: linear-gradient(139deg, #2f3d4f 23.15%, #131f31 74.32%);
  }
</style>
