---
import { Icon } from "astro-icon/components";
import Whiteboard from "../components/heading/Whiteboard.astro";
import WhiteboardContext from "../components/heading/WhiteboardContext.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { scope } from "simple:scope";
---

<BaseLayout title="About Ben">
  <main class="px-4 sm:grid grid-cols-[1fr_2fr] max-w-[88ch] mx-auto gap-16">
    <div class="sm:block hidden mt-12">
      <WhiteboardContext>
        {($scope: typeof scope) => <Whiteboard {$scope} />}
      </WhiteboardContext>
    </div>
    <article class="mt-6 md:mt-12 lg:mt-16">
      <h1 class="text-4xl mb-4 sm:mb-8 font-heading">About me</h1>
      <input id="inbrief-checkbox" class="hidden checkbox" type="checkbox" />
      <label
        class="font-bold cursor-pointer grid gap-2 items-center justify-between text-lg text-gray-400 mb-2"
        for="inbrief-checkbox"
      >
        <span class="label-personal">Personal Mode</span>
        <span
          class="switch w-[0.6em] h-[1em] rounded-full flex justify-center relative before:transition-all before:ease-spring-3 before:"
        ></span>
        <span class="label-recruiter">Recruiter Mode</span>
      </label>
      <div class="content-personal">
        <p>
          Hey there! I’m Ben, a senior web developer from Charleston SC, USA.
          You might know me from my <a
            href="https://www.youtube.com/@bholmesdev/shorts"
            >short whiteboard videos</a
          > breaking down all sorts of topics (React Server Components, HTMX, and
          SQLite to name a few). You also might know me as the inventor of <a
            href="https://astro.build">Astro.</a
          >
          <strong>I didn't invent Astro.</strong> But I'm a proud full time developer
          driving it forward :)
        </p>
        <p>
          I've been a web programmer since the pre-npm days. This taught me
          some... Bower-ful lessons on what it takes to build scalable software.
          It's a lot more than JQuery and a dream.
        </p>
        <p>
          I've since picked up every meta-framework you can think of, and even <a
            href="https://slinkity.dev">invented my own</a
          > before joining Astro. As much as I love building web experiences, I've
          realized I'm into tech for the tech itself. So, I've devoted myself to
          helping
          <em>you</em> build better websites. Through tools, through videos, through
          puns, and a healthy <s>love</s> tolerance for JavaScript.
        </p>
      </div>
      <div class="content-recruiter">
        <p>
          I'm a full-time software developer at <a href="https://astro.build"
            >the Astro Technology Company</a
          >, so I'm not looking for employment.
        </p>
        <p>
          Still, here's all my skills / buzzwords you were going to search for: <strong
            >NodeJS, ES6, ReactJS, NextJS, semantic HTML, understanding of a11y,
            Angular 2+, SolidJS, SvelteJS, SCSS, MySQL, NoSQL, OOP programming,
            C Basic, unit testing w/ Jest</strong
          >...
        </p>
        <p>
          Okay I'm getting tired typing.
          <a href="https://www.linkedin.com/in/bholmesdev/"
            >Just browse my LinkedIn.</a
          >
        </p>
      </div>
      <a
        href="https://www.youtube.com/@bholmesdev/shorts?sub_confirmation=1"
        data-draw-btn
        class="mt-12 text-white! group/btn mx-auto gap-4 text-center text-xl font-bold pb-2 px-1 no-underline block rounded-2xl transition-all"
      >
        <span
          class="origin-top rounded-xl px-8 py-3 flex items-center justify-center gap-4 group-active/btn:scale-x-[1.01] group-active/btn:scale-y-110 group-active/btn:rounded-2xl transition-all ease-spring-5 duration-500"
        >
          Watch some videos <Icon name="youtube" /></span
        ></a
      >
    </article>
  </main>
</BaseLayout>

<style>
  [data-draw-btn] span {
    background: linear-gradient(
        288deg,
        rgba(49, 62, 81, 0.2) 59.32%,
        rgba(133, 155, 187, 0.2) 92.52%
      ),
      linear-gradient(129deg, #334155 27.53%, #303c4f 67.2%);
  }
  [data-draw-btn] span:hover {
    filter: brightness(1.25);
  }
  [data-draw-btn] {
    background: linear-gradient(139deg, #2f3d4f 23.15%, #131f31 74.32%);
    transition:
      transform 0.5s var(--ease-spring-4),
      filter 0.3s;
  }

  article :global(p) {
    line-height: 1.5;
    margin-block: 0.8rem;
  }

  label {
    grid-template-areas:
      "personal switch"
      "recruiter switch";
    letter-spacing: 0.9px;
  }
  .label-personal {
    color: var(--color-primary-light);
    grid-area: personal;
  }
  .label-recruiter {
    grid-area: recruiter;
  }
  .switch {
    grid-area: switch;
    background: radial-gradient(
        53.29% 50% at 50% 50%,
        rgba(209, 198, 226, 0) 0%,
        var(--color-gray-800) 100%
      ),
      var(--color-gray-700);
  }
  .switch:before {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    background-image: radial-gradient(
        85.1% 85.1% at 19.53% 20.31%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(76, 5, 189, 0.4) 100%
      ),
      linear-gradient(149deg, #6200ff 0%, #4c05bd 100%);
    filter: drop-shadow(0px 0.05em 0.05em rgba(22, 2, 55, 0.5))
      drop-shadow(0px 0.1em 0.1em rgba(22, 2, 55, 0.5));
    border-radius: 100%;
    transform: translateY(-50%) rotate(50deg);
  }

  @media (min-width: 500px) {
    label {
      grid-template-areas: "personal switch recruiter";
    }
    .switch {
      transform: rotate(0.75turn);
    }
  }
  .checkbox:checked ~ label > .label-recruiter {
    color: var(--color-primary-light);
  }

  .checkbox:checked ~ label > .label-personal {
    color: var(--color-gray-400);
  }
  .content-personal {
    display: block;
  }
  .content-recruiter {
    display: none;
  }
  .checkbox:checked ~ .content-recruiter {
    display: block;
  }
  .checkbox:checked ~ .content-personal {
    display: none;
  }
  .checkbox:checked ~ label > .switch:before {
    transform: translateY(70%) rotate(50deg);
  }
</style>
