---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/heading/Heading.astro";
import IBen from "../components/iBen/Frame.astro";
---

<BaseLayout>
  <!-- Negative margin to let heading color tuck under the nav -->
  <main class="overflow-hidden -mt-12">
    <Heading />
    <IBen />
  </main>
</BaseLayout>
