---
import Layout from "../layouts/Base.astro";
---

<Layout title="Ben Holmes">
	<h1>Ben Holmes</h1>
	<ul>
		<li>Open source dev</li>
		<li>Whiteboardist</li>
		<li>Speaker</li>
		<li>Streamer</li>
	</ul>
</Layout>

<style>
	h1 {
		color: blue;
	}
</style>
