---
import BaseLayout from "../layouts/BaseLayout.astro";
import InBrief from "../components/InBrief.astro";
import Heading from "../components/Heading.astro";
---

<BaseLayout>
    <main>
        <Heading />
        <InBrief />
    </main>
</BaseLayout>

<style>
    main {
        max-width: 60ch;
        font-size: var(--font-size-md);
    }
</style>
