---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/heading/Heading.astro";
import IBen from "../components/iBen/Frame.astro";
---

<BaseLayout>
  <main>
    <Heading />
    <IBen />
  </main>
</BaseLayout>
