---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/heading/Heading.astro";
import IBen from "../components/iBen/Frame.astro";
import { Icon } from "astro-icon/components";
import SquooshButton from "~/components/SquooshButton.astro";
---

<BaseLayout>
  <!-- Negative margin to let heading color tuck under the nav -->
  <main class="overflow-hidden -mt-12">
    <Heading />
    <IBen />
    <div class="max-w-prose mx-auto px-2 mt-4">
      <SquooshButton
        as="a"
        href="/about"
        class="text-lg"
      >
        More about me <Icon name="arrow-right" /></span

      </SquooshButton>
    </div>
  </main>
</BaseLayout>
