---
import BaseLayout from "../layouts/BaseLayout.astro";
import InBrief from "../components/InBrief.astro";
import Heading from "../components/Heading2.astro";
import IBen from "../components/iBen/Frame.astro";
---

<BaseLayout>
  <main>
    <Heading />
    <IBen />
    <article class="max-w-prose m-auto flex flex-col gap-4">
      <InBrief />
    </article>
  </main>
</BaseLayout>
