---
import BaseLayout from "../layouts/BaseLayout.astro";
import InBrief from "../components/InBrief.astro";
import Heading from "../components/Heading.astro";
---

<BaseLayout>
  <main>
    <Heading />
    <article>
      <InBrief />
    </article>
  </main>
</BaseLayout>

<style>
  article {
    max-width: 60ch;
    margin: auto;
  }
  main {
    font-size: var(--font-size-md);
  }
</style>
