---
import BaseLayout from "../layouts/BaseLayout.astro";
import InBrief from "../components/InBrief.astro";
import Heading from "../components/Heading.astro";
import Computer from "../components/Computer.astro";
---

<BaseLayout>
  <main>
    <Heading />
    <Computer />
    <article class="max-w-prose m-auto flex flex-col gap-4">
      <InBrief />
    </article>
  </main>
</BaseLayout>
