---
interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<li>
  <a href={href} target="_blank" rel="noreferrer">
    <slot />
  </a>
</li>

<style>
  li {
    font-size: var(--font-size-lg);
  }
  a, a:visited {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    align-items: baseline;
    gap: 0.5ch;
    transition: gap 0.2s, color 0.2s;
  }
  a:hover, a:focus-visible {
    color: var(--color-primary);
    gap: 1ch;
  }
  a::after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1ch;
    color: red;
    /* right arrow */
    background: url("data:image/svg+xml,%3Csvg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 2.30762L10.6924 11.5L1.5 20.6924' stroke='%23D9C7AB' stroke-width='4'/%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
  }
</style>