---
import iBen from "./iBen.svg?raw";
import ComputerBtn from "./ComputerBtn.astro";

const imgSrc = "https://img.youtube.com/vi/MaebEqhZR84/hqdefault.jpg";
---

<div class="dark:bg-gray-900 sm:px-6 px-2">
  <div class="py-8 max-w-prose mx-auto container grid relative">
    <img
      src={imgSrc}
      alt=""
      class="glow animate-pulse pt-[0%] w-full"
      aria-hidden="true"
    />
    <img
      src={imgSrc}
      alt="A gud video"
      class="filter blur-sm w-full pt-[10%] px-[6%]"
    />
    <div class="z-10 computer m-auto w-full" set:html={iBen} />
    <div
      class="btn-overlay absolute left-0 right-0 z-20 flex justify-between px-[5%]"
    >
      <ComputerBtn icon="play" aria-label="Play video" />
      <ComputerBtn icon="random" aria-label="Get random video" />
    </div>
  </div>
</div>

<style>
  .computer :global(svg) {
    width: 100%;
    height: 100%;
  }

  .container > * {
    grid-area: 1/1;
  }

  @media (min-width: theme(screens.sm)) {
    .glow {
      filter: brightness(7) blur(50px) !important;
    }
  }

  .glow {
    filter: brightness(7) blur(20px);
    transform: perspective(1000px) rotate3d(1, 0, 0, 4deg);
    transform-origin: bottom center;
  }

  .btn-overlay {
    bottom: calc(theme(spacing.6) + 4.4%);
  }
</style>
