---
import Section from "../components/Section.astro";
import { Icon } from "astro-icon";
import Whiteboard from "../components/Whiteboard.astro";
---

<Section class="container" color="purple">
  <h1>Ben<br />Holmes</h1>
  <ul role="list">
    <li><a href="https://github.com/bholmesdev">Web dev</a></li>
    <li><a href="https://wtw.dev">Whiteboardist</a></li>
    <li><a href="#speaker">Speaker</a></li>
    <li><a href="https://twitch.tv/bholmesdev">Streamer</a></li>
  </ul>
  <div class="image"><Whiteboard /></div>
  <div class="arrow">
    <Icon name="ic:baseline-arrow-downward" />
  </div>
</Section>

<style>
  .container {
    display: grid;
    grid-template-areas:
      "heading image"
      "links arrow";
    justify-content: space-between;
    align-content: space-between;
    max-width: 90ch;
  }
  h1 {
    font-family: var(--font-heading);
    grid-area: heading;
    line-height: 1;
    font-size: 10vh;
    writing-mode: vertical-rl;
  }
  @media (min-width: 600px) {
    h1 {
      writing-mode: initial;
    }
    .container {
      grid-template-areas:
        "heading image"
        "links image"
        "arrow image";
    }
  }
  .image {
    grid-area: image;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    font-size: var(--font-size-lg);
  }
  a,
  a:visited {
    color: inherit;
  }
  li {
    color: var(--text-body);
    padding-block: 0.2rem;
    padding-inline: 0.3rem;
    position: relative;
  }
  li:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: translate(0.1em, 0.1em);
  }
  .arrow {
    grid-area: arrow;
    color: var(--accent);
    width: 4rem;
    /* animation: arrow-hover 3s ease-in-out infinite; */
  }
  .arrow > :global(svg) {
    height: 100%;
    width: 100%;
  }
  @keyframes arrow-hover {
    0%,
    100% {
      transform: translateY(-30%);
    }
    50% {
      transform: translateY(30%);
    }
  }
</style>
