---
import { Icon } from "astro-icon/components";
---

<section class="flex max-w-[120ch] items-center justify-center mx-auto p-3">
  <div>
    <h1 class="text-9xl">
      Hi, I'm <strong
        class="bg-clip-text text-transparent bg-gradient-to-r from-[#9b5dff] to-[#6200ff]"
        >Ben.</strong
      >
    </h1>
    <p class="text-xl mb-5 text-slate-400">
      The <span class="text-white">whiteboard guy</span> who codes kinda well.
    </p>
    <div class="flex gap-2">
      <a
        class="px-7 py-2 font-bold rounded-xl flex items-center justify-center gap-2 no-underline relative text-xl"
        data-watch-btn
      >
        Watch
        <Icon name="arrow-down" />
      </a>
    </div>
  </div>
  <img
    width="577"
    height="600"
    src="/board-static.svg"
    alt="Whiteboard with smiling face drawn"
  />
</section>

<style>
  [data-watch-btn] {
    background: linear-gradient(
        288deg,
        rgba(98, 0, 255, 0.5) 59.32%,
        rgba(165, 113, 249, 0.5) 92.52%
      ),
      linear-gradient(129deg, #7c2aff 27.53%, #6200ff 67.2%);
  }
  [data-watch-btn]:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -0.2rem;
    bottom: -0.35rem;
    top: 0;
    border-radius: theme(borderRadius.2xl);
    background: linear-gradient(139deg, #6200ff 23.15%, #3b0493 74.32%);
  }
</style>
