---
import { Icon } from "astro-icon/components";

type Props = {
  postSlug: string;
};

const { postSlug } = Astro.props;
---

<like-button
  data-el={el("container")}
  data-post-slug={postSlug}
  class="group/like flex items-center gap-4"
>
  <button
    data-el={el("button")}
    data-action="click:like-button#toggleLike"
    class="w-[2.5em] h-[2.5em] bg-gradient-to-br from-slate-600 to-slate-900 rounded-full flex items-center justify-center"
  >
    <div
      class="group-data-[liked]/like:w-[75%] group-data-[liked]/like:h-[75%] w-[85%] h-[85%] rounded-full bg-gradient-to-br from-slate-800 to-slate-600 text-xl font-bold grid place-items-center transition-all -translate-y-[8%] group-data-[liked]/like:translate-y-0 ease-spring-5 duration-500"
    >
      <Icon
        name="heart"
        class="row-start-1 col-start-1 transition-colors text-slate-300 group-data-[liked]/like:text-red-400"
      />
      <Icon
        name="heart"
        class="row-start-1 col-start-1 transition-colors text-slate-300 group-data-[liked]/like:text-red-400 blur-0 group-data-[liked]/like:blur-[2px]"
      />
    </div>
  </button>
  <p
    data-el={el("text")}
    data-target="like-button.text"
    class="group-data-[pending]/like:opacity-60 transition-opacity"
  >
    -
  </p>
</like-button>

<script>
  import { actions } from "astro:actions";
  import { Signal } from "signal-polyfill";
  import { effect, onPageLoad } from "~/lib/effect";

  onPageLoad(async () => {
    const postSlug = el("container").getAttribute("data-post-slug") ?? "";
    const pending = new Signal.State(false);
    const liked = new Signal.State(
      Boolean(localStorage.getItem(`isLike:${postSlug}`))
    );

    const { likes } = await actions.getLikes({ postSlug });
    el("text").textContent = likes.toString();

    effect(() => {
      el("container").toggleAttribute("data-liked", liked.get());
      el("container").toggleAttribute("data-pending", pending.get());

      if (liked.get()) {
        localStorage.setItem(`isLike:${postSlug}`, "true");
      } else {
        localStorage.removeItem(`isLike:${postSlug}`);
      }
    });

    el("button").addEventListener("click", async () => {
      pending.set(true);
      liked.set(!liked.get());

      const { data, error } = await actions.like.safe({
        postSlug,
        liked: liked.get(),
      });

      pending.set(false);
      if (error) {
        el("text").textContent =
          error.code === "TOO_MANY_REQUESTS"
            ? "Slow down! Rate limited you for the day."
            : "Oops, failed to update likes.";
        return;
      }

      el("text").textContent = data.likes.toString();
    });
  });
</script>
