---
---

<nav id="primary-nav">
  <ul class="links">
    <li><a href="/">Ben</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/talks">Talks</a></li>
    <li><a href="/videos">Videos</a></li>
  </ul>
  <button class="toggle" aria-hidden="true">
    <div class="stripe-top"></div>
    <div class="stripe-middle"></div>
    <div class="stripe-bottom"></div>
  </button>
</nav>

<style>

button {
    height: 1rem;
    width: 1rem;
}
</style>

<script>
  const jumpToSectionColors = ["--green", "--orange", "--purple"];

  const nav = document.querySelector("#primary-nav")!;
  const links = nav.querySelector(".links")!;
    const toggle = nav.querySelector('.toggle')!;

function toggleNav() {
    links.toggleAttribute('data-opened');
    console.log('client!')
}

toggle.addEventListener('click', toggleNav);
</script>
