---
type Props = {
    color: "red" | "purple" | "green";
    class?: string;
};

const { color, class: cls } = Astro.props;
---

<section class={cls} style={`--accent: var(--${color})`}><slot /></section>

<style>
    section {
        padding-inline: 1rem;
        margin: auto;
    }
</style>
