[data-route='index'] {
  .icon-before:before,
  .icon-after:after {
    --icon-size: 1.5em;
    --icon-color: var(--section-color);
    content: '';
    mask-image: var(--icon-source);
    -webkit-mask-image: var(--icon-source);
    mask-size: var(--icon-size);
    -webkit-mask-size: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: var(--icon-color);
    display: inline-block;
    vertical-align: text-bottom;
  }

  .icon__devto {
    --icon-source: url('/static/icons/devto.svg');
  }
  .icon__notion {
    --icon-source: url('/static/icons/notion.svg');
  }
  .icon__arrow-down {
    --icon-source: url('/static/icons/arrow-down.svg');
  }
  .icon__arrow-right {
    --icon-source: url('/static/icons/arrow-right.svg');
  }

  .line-accents-container {
    max-width: var(--content-max-width);
    margin: auto;
    margin-top: -100px;
    padding-right: 50px;
    height: 200px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;

    #line-accents {
      display: flex;
      margin-right: 10%;

      * {
        width: 10px;
        position: relative;
        margin-right: 10px;
        transition: transform 0.5s;
        transform-origin: top;
        height: 100px;
        opacity: 0.8;
      }
      :nth-child(1) {
        background-color: var(--green);
      }
      :nth-child(2) {
        top: -40px;
        background-color: var(--red);
      }
      :nth-child(3) {
        top: -80px;
        background-color: var(--purple);
      }
      .active {
        opacity: 1;
        transform: scaleY(5);
      }
    }
  }

  @media (max-width: 1700px) {
    section,
    .line-accents-container {
      margin-right: var(--nav-height);
    }
  }

  .subsection {
    margin-top: 0;

    .subsection__header {
      grid-column: 1 / span 2;
    }
  }

  #header-section {
    height: 100vh;
    min-height: 900px;
    max-height: 1200px;
    margin-top: 0;
    align-content: center;
    align-items: center;

    img {
      width: calc(100% + 100px);
      height: auto;
    }
    .content {
      font-size: 44px;
      font-family: var(--header-font);

      h1 {
        text-transform: uppercase;
        max-width: 400px;
        margin-top: 0;
      }
      ul {
        padding: 0;
        list-style-type: none;
        font-weight: 300;
      }
      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        font-weight: bold;
        margin-top: 75px;

        &::after {
          --icon-size: 1em;
          margin-left: 30px;
          animation: float-up-down ease-in-out 2s infinite;
        }
      }
    }
  }

  section,
  section.header {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    column-gap: 200px;
  }

  @media (max-width: 1200px) {
    section,
    sectionheader {
      gap: 100px;
    }
  }

  #inbrief-section {
    .social-links {
      > a,
      > a:visited {
        display: flex;
        align-items: center;
        color: var(--body-color);
        font-size: 30px;
        margin-bottom: 30px;

        > img {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }

    #switch__checkbox {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .switch__text {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--header-font);
      color: var(--bg-color-2);
      font-size: 36px;
      cursor: pointer;
      margin-bottom: 20px;

      .slider {
        position: relative;
        width: 1.5em;
        height: 0.5em;
        border-radius: 0.75em;
        border: 4px solid var(--bg-color-2);
        transition: height 0.2s;
        display: flex;
        align-items: center;
      }

      :hover > .slider {
        height: 0.8em;
        background: repeating-linear-gradient(
          45deg,
          var(--bg-color-2) 0,
          var(--bg-color-2) 25%,
          transparent 0%,
          transparent 50%
        );
        background-size: 35px 35px;
        background-position: 0 0;
        animation: stripe-anim 3s linear infinite;
      }

      .slider::before {
        content: '';
        height: 0.8em;
        width: 0.8em;
        margin: -0.2em;
        background-color: var(--section-color);
        border-radius: 100%;
        transition: transform 0.2s;
      }

      .personal {
        color: var(--section-color);
        font-weight: bold;
      }
    }

    .content__recruiter {
      display: none;
    }

    #switch__checkbox:focus + .switch__text > .slider {
      border: 5px solid var(--section-color);
    }

    #switch__checkbox:checked {
      ~ .switch__text {
        .personal {
          color: inherit;
          font-weight: normal;
        }

        .recruiter {
          color: var(--section-color);
          font-weight: bold;
        }

        .slider::before {
          transform: translateX(100%);
        }
      }

      ~ .content__recruiter {
        display: initial;
      }
      ~ .content__personal {
        display: none;
      }
    }
  }

  .numbered {
    position: relative;

    &::before {
      counter-increment: section-number;
      content: counter(section-number);
      background: var(--bg-color-2);
      border-radius: 100%;

      position: absolute;
      top: -1.3em;
      left: -1em;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      color: var(--bg-color);
      z-index: -1;
    }
  }

  .section__summary {
    display: grid;
    grid-template-areas:
      'header header'
      'in-brief description';
    align-content: flex-start;
    grid-template-columns: 50px 1fr;

    h2 {
      grid-area: header;
      position: relative;
      margin-top: 0;
    }
    p {
      grid-area: in-brief;
      font-family: var(--header-font);
      font-weight: bold;
      margin: 0;
      color: var(--section-color);
      writing-mode: vertical-lr;
    }
    ul {
      grid-area: description;
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      li {
        margin-bottom: 15px;
      }
    }
  }

  .img-link {
    margin-top: 30px;
    text-decoration: none;

    .img-link__img-container {
      position: relative;

      > img {
        width: 100%;
        transition: transform 0.5s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 6px;
        right: 0;
        border-left: 10px solid var(--section-color);
        border-bottom: 10px solid var(--section-color);
        background: repeating-linear-gradient(
          45deg,
          var(--red-dim) 0,
          var(--red-dim) 25%,
          transparent 0%,
          transparent 50%
        );
        background-size: 50px 50px;
        background-position: 0 0;
        z-index: -1;
        transition: transform 0.5s;
        transform: translate(-6px, 6px);
      }
    }
    &:hover > .img-link__img-container {
      > img {
        transform: translate(20px, -20px);
      }
      &::after {
        animation: stripe-anim 3s linear infinite;
      }
    }
  }

  .cta-link:hover,
  .img-link:hover {
    animation: none;
  }

  .cta-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--section-color);
    color: var(--section-color);
    font-family: var(--header-font);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    background: linear-gradient(
      90deg,
      var(--section-color) 0,
      var(--section-color) 50%,
      var(--bg-color) 50%,
      var(--bg-color) 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s;
    margin: 0;
    margin-top: 50px;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: -9px;
      right: 3px;
      bottom: -9px;
      background: var(--section-color);
      z-index: -1;
      transition: transform 0.5s;
      transform-origin: left;
    }
  }

  .cta-link:hover,
  .img-link:hover > .cta-link {
    background-position: 0;
    color: var(--bg-color);

    &::before {
      transform: translate(6px, -3px) scaleX(0);
    }
    &::after {
      --icon-color: var(--bg-color);
      transition: background-color 0.2s;
      transition-delay: 0.3s;
    }
  }

  .blog-post__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .blog-post,
    .blog-post:visited {
      position: relative;
      display: grid;
      grid-template-areas:
        'icon title'
        'min-read title';
      grid-template-columns: 60px 1fr;
      grid-template-rows: 50px 1fr;
      column-gap: 20px;
      color: var(--body-color);
      text-decoration: none;
      margin-bottom: 40px;

      .title {
        grid-area: title;
        font-size: 30px;
        font-weight: 600;
        align-self: center;
      }
      .min-read {
        grid-area: min-read;
        margin: 0;
        font-family: var(--header-font);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }
      .mug {
        height: 50px;
        width: 50px;
        margin: auto;
        grid-area: icon;
      }

      &::after {
        --size: 15px;
        content: '';
        position: absolute;
        background: url('/static/icons/arrow-link-accent.svg');
        background-size: var(--size) var(--size);
        top: -10px;
        right: -20px;
        width: var(--size);
        height: var(--size);
        transition: transform 0.2s;
      }

      &:hover::after {
        transform: translate(15px, -15px);
      }
    }
  }

  .blog-post__headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 36px;
      font-weight: 600;
      color: var(--body-color);
    }

    .min-read {
      position: absolute;
      bottom: 16px;
      left: 10px;
      background: var(--bg-color);
      padding: 5px 10px;
      margin: 0;
      color: var(--body-color);
      font-family: var(--header-font);
      font-size: 20px;
      font-weight: bold;

      display: flex;
      align-items: center;
    }

    .mug {
      height: 1.5em;
      margin-right: 10px;
    }
  }

  @keyframes stripe-anim {
    to {
      background-position: -75px, -75px;
    }
  }

  @keyframes float-up-down {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
}

.projects__macintosh {
  justify-self: end;
  align-self: end;
  max-width: 400px;
  margin-top: 50px;
  position: relative;

  img {
    width: 100%;
  }
  .img-container {
    position: absolute;
    top: 11.5%;
    // bottom: -10px;
    left: 11%;
    width: 78%;
    overflow: hidden;

    img {
      opacity: 0;
      transform-origin: bottom center;
    }

    img.visible {
      animation: macintosh-image-glitch-in 0.4s step-start forwards;
    }

    #projects-img-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
      animation: macintosh-scan-line 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(transparent 0%, rgba(49, 25, 2, 0.2)),
        linear-gradient(transparent, rgba(0, 0, 0, 0.05)) repeat;
      background-size: 100% 100%, 100% 1%;
    }
  }
}

@keyframes macintosh-scan-line {
  from {
    top: 0%;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 0.1;
  }
}

@keyframes macintosh-image-glitch-in {
  0% {
    transform: skew(0) scaleX(1);
    opacity: 0;
  }
  20%,
  90% {
    transform: skew(-10deg) scaleX(1.5);
    opacity: 1;
  }
  30% {
    transform: translateX(10px) skew(-10deg) scaleX(1.5);
    opacity: 1;
  }
  100% {
    transform: skew(0) scaleX(1);
    opacity: 1;
  }
}

.projects__link-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: start;

  a,
  button {
    cursor: pointer;
  }

  #generate-random-project {
    padding-right: 20px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  a {
    font-family: var(--header-font);
    text-decoration: none;
    font-size: 20px;

    &::after {
      margin-left: 10px;
    }
  }

  #dice-container {
    grid-row: 1 / span 2;
    position: relative;
    height: 100px;

    &.animated {
      --anim-length: 2.5s;
      .outer-wrapper {
        animation: dice-bounce-outer var(--anim-length) linear forwards;

        .inner-wrapper {
          animation: dice-bounce-inner var(--anim-length) ease-in forwards;

          img {
            animation: dice-spin var(--anim-length) linear forwards;
          }
          &::before {
            animation: dice-spin var(--anim-length) linear forwards,
              dice-spin-offset var(--anim-length) ease-out forwards;
          }
        }
      }

      .outer-wrapper.delayed {
        --delay: 0.3s;
        animation-name: dice-bounce-outer-delayed;
        animation-delay: var(--delay);

        .inner-wrapper {
          animation-name: dice-bounce-inner-delayed;
          animation-delay: var(--delay);

          &::before,
          img {
            animation-name: dice-spin-delayed;
            animation-delay: var(--delay);
          }
        }
      }
    }

    .outer-wrapper {
      --delay: 0s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px;

      &.delayed {
        transform: translateX(-25px);

        .inner-wrapper {
          transform: translateY(-38px);

          &::before {
            left: 6px;
          }
        }
      }

      .inner-wrapper {
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: -6px;
          left: -6px;
          width: 100%;
          height: 100%;
          background: #faf1d8;
          outline: 3px solid #7931e3;
          outline-offset: -3px;
        }
      }
    }
  }
}

@keyframes dice-bounce-outer {
  0%,
  80%,
  100% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-200px);
    animation-timing-function: cubic-bezier(0, 0, 0.74, 0.98);
  }
  70% {
    transform: translateX(-10px);
    animation-timing-function: ease-out;
  }
}

@keyframes dice-bounce-outer-delayed {
  0%,
  75%,
  100% {
    transform: translateX(-25px);
  }
  15% {
    transform: translateX(-200px);
    animation-timing-function: cubic-bezier(0, 0, 0.74, 0.98);
  }
  65% {
    transform: translateX(-10px);
    animation-timing-function: ease-out;
  }
}

@keyframes dice-bounce-inner {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  25%,
  45%,
  65% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  15% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-70px);
  }
  55% {
    transform: translateY(-30px);
  }
}

@keyframes dice-bounce-inner-delayed {
  0%,
  75%,
  100% {
    transform: translateY(-38px);
  }
  20%,
  50% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  10% {
    transform: translateY(-100px);
  }
  35% {
    transform: translateY(-80px);
  }
  65% {
    transform: translateY(-35px);
  }
}

@keyframes dice-spin {
  15% {
    transform: rotate(-200deg);
  }
  45% {
    transform: rotate(150deg);
  }
  70% {
    transform: rotate(380deg);
    animation-timing-function: ease-in;
  }
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dice-spin-delayed {
  15% {
    transform: rotate(-200deg);
  }
  45% {
    transform: rotate(250deg);
  }
  65% {
    transform: rotate(370deg);
    animation-timing-function: ease-in;
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dice-spin-offset {
  15%,
  25%,
  45%,
  65% {
    top: 6px;
    left: -6px;
  }
  35%,
  55%,
  75%,
  100% {
    top: -6px;
    left: -6px;
  }
}
