.icon-before:before,
.icon-after:after {
  --icon-size: 1.5em;
  --icon-color: var(--section-color);
  content: '';
  mask-image: var(--icon-source);
  -webkit-mask-image: var(--icon-source);
  mask-size: var(--icon-size);
  -webkit-mask-size: var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--icon-color);
}

.icon__devto {
  --icon-source: url('/static/icons/devto.svg');
}

.icon__notion {
  --icon-source: url('/static/icons/notion.svg');
}

.icon__arrow-down {
  --icon-source: url('/static/icons/arrow-down.svg');
}

.icon__arrow-right {
  --icon-source: url('/static/icons/arrow-right.svg');
}

.line-accents-container {
  max-width: var(--content-max-width);
  margin: auto;
  margin-top: -100px;
  padding-right: 50px;
  height: 200px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 1700px) {
  section,
  .line-accents-container {
    margin-right: var(--nav-height);
  }
}

.line-accents {
  display: flex;
  margin-right: 10%;
}

.line-accents > * {
  width: 10px;
  position: relative;
  margin-right: 10px;
  transition: transform 0.5s;
  transform-origin: top;
  height: 100px;
  opacity: 0.8;
}

.line-accents > :nth-child(1) {
  background-color: var(--green);
}

.line-accents > :nth-child(2) {
  top: -40px;
  background-color: var(--red);
}

.line-accents > :nth-child(3) {
  top: -80px;
  background-color: var(--purple);
}

.line-accents > .active {
  opacity: 1;
  transform: scaleY(5);
}

.sub-section {
  margin-top: 0;
}

section.me-header {
  height: 100vh;
  min-height: 900px;
  max-height: 1200px;
  margin-top: 0;

  align-content: center;
  align-items: center;
}

section.me-header > img {
  width: calc(100% + 100px);
  height: auto;
}

.me-header__content {
  font-size: 44px;
  font-family: var(--header-font);
}

.me-header__content h1 {
  text-transform: uppercase;
  max-width: 400px;
  margin-top: 0;
}

.me-header__content ul {
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}

.me-header__content a {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  margin-top: 75px;
}

.me-header__content a:after {
  --icon-size: 1em;
  margin-left: 30px;
  animation: float-up-down ease-in-out 2s infinite;
}

section.me,
section.me-header {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 200px;
}

@media (max-width: 1200px) {
  section.me,
  section.me-header {
    gap: 100px;
  }
}

.me-section-header.social-links a,
.me-section-header.social-links a:visited {
  font-size: 30px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  color: inherit;
}

.me-section-header.social-links a > img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

label.in-brief-switch {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-font);
  color: var(--bg-color-2);
  font-size: 36px;
  cursor: pointer;
  margin-bottom: 20px;
}

label.in-brief-switch > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.in-brief-switch__slider {
  position: relative;
  width: 1.5em;
  height: 0.5em;
  border-radius: 0.75em;
  border: 4px solid var(--bg-color-2);
  transition: height 0.2s;
  display: flex;
  align-items: center;
}

label.in-brief-switch:hover > .in-brief-switch__slider {
  height: 0.8em;
  background: repeating-linear-gradient(
    45deg,
    var(--bg-color-2) 0,
    var(--bg-color-2) 25%,
    transparent 0%,
    transparent 50%
  );
  background-size: 35px 35px;
  background-position: 0 0;
  animation: stripe-anim 3s linear infinite;
}

.in-brief-switch__slider:before {
  content: '';
  height: 0.8em;
  width: 0.8em;
  margin: -0.2em;
  background-color: var(--section-color);
  border-radius: 100%;
  transition: transform 0.2s;
}

.in-brief-switch__personal {
  color: var(--section-color);
  font-weight: bold;
}

input:focus ~ .in-brief-switch__slider {
  border: 5px solid var(--section-color);
}

input:checked ~ .in-brief-switch__personal {
  color: inherit;
  font-weight: normal;
}

input:checked ~ .in-brief-switch__recruiter {
  color: var(--section-color);
  font-weight: bold;
}

input:checked ~ .in-brief-switch__slider:before {
  transform: translateX(100%);
}

#in-brief__recruiter-content {
  display: none;
}

p > label.in-brief-switch ~ .in-brief__personal-content {
  display: none;
}

.me-section-header.in-brief {
  display: grid;
  grid-template-areas:
    'header header'
    'in-brief description';
  align-content: flex-start;
  grid-template-columns: 50px 1fr;
}

.me-section-header__in-brief-label {
  grid-area: in-brief;
  font-family: var(--header-font);
  font-weight: bold;
  margin: 0;
  color: var(--section-color);
  writing-mode: vertical-lr;
}

.me-section-header.in-brief > ul {
  grid-area: description;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.me-section-header.in-brief li {
  margin-bottom: 15px;
}

.me-section-header > h2 {
  grid-area: header;
  position: relative;
  margin-top: 0;
}

.me-section-header > h2:before {
  counter-increment: section-number;
  content: counter(section-number);
  background: var(--bg-color-2);
  border-radius: 100%;

  position: absolute;
  top: -1.3em;
  left: -1em;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  color: var(--bg-color);
  z-index: -1;
}

.img-link {
  margin-top: 30px;
  text-decoration: none;
}

.img-link__img-container {
  position: relative;
}

.img-link__img-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  right: 0;
  border-left: 10px solid var(--section-color);
  border-bottom: 10px solid var(--section-color);
  background: repeating-linear-gradient(
    45deg,
    var(--red-dim) 0,
    var(--red-dim) 25%,
    transparent 0%,
    transparent 50%
  );
  background-size: 50px 50px;
  background-position: 0 0;
  z-index: -1;
  transition: transform 0.5s;
  transform: translate(-6px, 6px);
}

@keyframes stripe-anim {
  to {
    background-position: -75px, -75px;
  }
}

.img-link__img-container > img {
  width: 100%;
  transition: transform 0.5s;
}

.img-link:hover > .img-link__img-container > img {
  transform: translate(20px, -20px);
}

.img-link:hover > .img-link__img-container:after {
  animation: stripe-anim 3s linear infinite;
}

.cta-link:hover,
.img-link:hover {
  animation: none;
}

.cta-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--section-color);
  color: var(--section-color);
  font-family: var(--header-font);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    var(--section-color) 0,
    var(--section-color) 50%,
    var(--bg-color) 50%,
    var(--bg-color) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  margin: 0;
  margin-top: 50px;
}

.cta-link:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -9px;
  right: 3px;
  bottom: -9px;
  background: var(--section-color);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left;
}

.cta-link:hover,
.img-link:hover > .cta-link {
  background-position: 0;
  color: var(--bg-color);
}

.cta-link:hover:before,
.img-link:hover > .cta-link:before {
  transform: translate(6px, -3px) scaleX(0);
}

.cta-link:hover:after,
.img-link:hover > .cta-link:after {
  --icon-color: var(--bg-color);
  transition: background-color 0.1s;
  transition-delay: 0.3s;
}

.section-me__grid-header {
  grid-column: 1 / span 2;
}

.me-blog-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.me-blog-post,
.me-blog-post:visited {
  position: relative;
  display: grid;
  grid-template-areas:
    'icon title'
    'min-read title';
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 1fr;
  column-gap: 20px;
  color: var(--body-color);
  text-decoration: none;
  margin-bottom: 40px;
}

.me-blog-post:after {
  --size: 15px;
  content: '';
  position: absolute;
  background: url('/static/icons/arrow-link-accent.svg');
  background-size: var(--size) var(--size);
  top: -10px;
  right: -20px;
  width: var(--size);
  height: var(--size);
  transition: transform 0.2s;
}

.me-blog-post:hover:after {
  transform: translate(15px, -15px);
}

.me-blog-post__title {
  grid-area: title;
  font-size: 30px;
  font-weight: 600;
  align-self: center;
}

.me-blog-post__icon {
  height: 50px;
  width: 50px;
  margin: auto;
  grid-area: icon;
}

.me-blog-post__min-read {
  grid-area: min-read;
  margin: 0;
  font-family: var(--header-font);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.me-headline-blog-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.me-headline-blog-post__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--body-color);
}

.me-headline-blog-post__min-read {
  position: absolute;
  bottom: 16px;
  left: 10px;
  background: var(--bg-color);
  padding: 5px 10px;
  margin: 0;
  color: var(--body-color);
  font-family: var(--header-font);
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
}

.me-headline-blog-post__icon {
  height: 1.5em;
  margin-right: 10px;
}

@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}
