---
title: Contact Ben
description: Let's get in touch!
---

include icons

section
  h1 Contact Me
  img(src="/assets/images/me-on-phone.jpg" alt="Charcoal sketch of me walking with phone in hand" width=600 height=718)
  p.tagline
    :markdown-it(inline)
      Let's chat! I'm always available through my [Twitter DMs](https://twitter.com/BHolmesDev) and [by email](mailto:bholmesdev@gmail.com), but you can fill out this shiny form too :)
  form(method="POST" name="contact" data-netlify="true" action="/contact-submitted")
    input(type="hidden" name="form-name" value="contact")
    label(for="name") Name
    input#name(type="text" name="name" placeholder="Tim Apple" required)
    label(for="email") Email
    input#email(type="email" name="email" placeholder="10xengineer@genius.club" required)
    label(for="message") Message
    textarea#message(name="message" placeholder="You're doing everything wrong and here's why..." required)
    button.cta-link(type="submit")
      | Send away
      +icon('send')