@import './_includes/mixins.scss';

.icon-before:before,
.icon-after:after {
  --icon-size: 1.5em;
  --icon-color: var(--section-color);
  content: '';
  mask-image: var(--icon-source);
  -webkit-mask-image: var(--icon-source);
  mask-size: var(--icon-size);
  -webkit-mask-size: var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--icon-color);
  display: inline-block;
  vertical-align: text-bottom;
}

.icon__devto {
  --icon-source: url('/assets/icons/devto.svg');
}
.icon__notion {
  --icon-source: url('/assets/icons/notion.svg');
}
.icon__arrow-down {
  --icon-source: url('/assets/icons/arrow-down.svg');
}
.icon__arrow-right {
  --icon-source: url('/assets/icons/arrow-right.svg');
}

.subsection {
  margin-top: 0;

  .subsection__header {
    grid-column: 1 / span 2;
  }
}

#header-section {
  height: 800px;
  margin-top: var(--nav-height);
  align-content: center;
  align-items: center;
  padding-bottom: 0;

  .header-section__picture {
    width: calc(100% + 100px);
    height: auto;
  }
  .header-section__content {
    font-size: 44px;
    font-family: var(--header-font);

    h1 {
      text-transform: uppercase;
      max-width: 400px;
      margin-top: 0;
    }
    ul {
      padding: 0;
      list-style-type: none;
      font-weight: 300;
    }
    .header-section__cta {
      display: flex;
      text-decoration: none;
      align-items: center;
      font-weight: bold;
      margin-top: 70px;

      > span,
      &::after {
        background-color: var(--section-color);
        background-image: linear-gradient(
          var(--green) 0%,
          var(--green) 16.67%,
          var(--bg-color) 16.67%,
          var(--bg-color) 33.33%,
          var(--red) 33.33%,
          var(--red) 50%,
          var(--bg-color) 50%,
          var(--bg-color) 66.67%,
          var(--purple) 66.67%,
          var(--purple) 83.33%,
          var(--bg-color) 83.33%,
          var(--bg-color) 100%
        );
        background-size: 100% 600%;
      }

      > span {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        animation: rotate-text-color 8s ease-out infinite;
      }

      &::after {
        --icon-size: 1em;
        margin-left: 30px;
        animation: float-up-down ease-in-out 2s infinite,
          rotate-text-color ease-out 8s infinite;
      }
      @keyframes rotate-text-color {
        0%,
        25% {
          background-position-y: 0;
        }
        34%,
        58% {
          background-position-y: 40%;
        }
        66%,
        91% {
          background-position-y: 80%;
        }
        100% {
          background-position-y: 120%;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    max-width: 1200px;
    column-gap: 110px;
    .header-section__content {
      font-size: 36px;
    }

    h1 {
      font-size: 80px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    position: relative;
    height: 90vh;
    max-width: var(--content-max-width);
    padding-left: 0;
    padding-right: 0;
    min-height: 600px;
    margin-top: var(--nav-height);

    .header-section__picture {
      width: 70%;
      margin-top: 30%;
      margin-left: auto;
    }

    .header-section__content {
      position: absolute;
      --margin: 20px;
      top: var(--margin);
      left: var(--margin);
      right: var(--margin);
      bottom: calc(var(--nav-height) + var(--margin));

      h1 {
        writing-mode: vertical-rl;
        font-size: 10vh;
        margin: 0;
        margin-left: -20px;
        height: 0;
      }

      ul {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        font-size: 4vh;

        li {
          margin-bottom: 10px;
        }
      }

      a {
        position: absolute;
        right: 0;
        bottom: 0;

        span {
          display: none;
        }

        &::after {
          --icon-size: 6vh;
        }
      }
    }
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 160px;
}

.newsletter-callout__container {
  background-color: var(--bg-color-2);
  margin-bottom: 100px;
  padding: 0 20px;
  --section-color: var(--red);

  #newsletter-callout {
    max-width: 840px;
    display: block;
    padding: 60px 0;
    color: var(--body-color);

    .newsletter-callout__heading {
      display: flex;
      margin-bottom: 16px;
      h2 {
        @include subheader;
        align-self: flex-end;
        flex: 1;
        margin: 0;
        margin-right: 20px;
      }
      @include mobile {
        svg {
          height: 48px;
        }
      }
    }
    .newsletter-callout__tagline {
      font-style: italic;
    }
    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
    .newsletter-callout__input {
      display: flex;
      $breakpoint: 600px;
      @media (max-width: $breakpoint) {
        flex-direction: column;
      }
      input {
        flex: 1;
        border: none;
        border-bottom: 2px solid var(--bg-color-3);
        background: var(--bg-color);
        font-family: inherit;
        font-size: inherit;
        padding: 12px;
        transition: border-color 0.2s;

        &:focus {
          outline: none;
          border-bottom-color: var(--section-color);
        }

        &::placeholder {
          color: #95856d;
        }

        @media (max-width: $breakpoint) {
          margin-bottom: 20px;
        }
      }
      button {
        @include subheader-font;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-top: 0;
        background-color: var(--section-color);
        background-image: linear-gradient(
          90deg,
          var(--red) 33.33%,
          var(--purple) 33.33%,
          var(--purple) 66.67%,
          var(--green) 66.67%
        );
        background-size: 300% 100%;
        transition: background-position-x 0.3s;
        color: var(--bg-color);
        border: none;
        padding-left: 20px;

        &:hover {
          background-position-x: -100%;
        }
        svg {
          fill: var(--bg-color);
          margin-left: 10px;
        }
      }
    }
  }
}

.line-accents-container {
  max-width: var(--content-max-width);
  margin: auto;
  padding-right: 50px;
  position: sticky;
  top: -20px;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }

  #line-accents {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    border: 2px solid var(--bg-color-3);
    padding: 12px 10px;
    width: 56px;

    * {
      width: 6px;
      position: relative;
      transition: transform 0.5s;
      transform-origin: top;
      height: 28px;
      opacity: 0.8;
    }
    :nth-child(1) {
      background-color: var(--green);
    }
    :nth-child(2) {
      background-color: var(--red);
    }
    :nth-child(3) {
      background-color: var(--purple);
    }
    .active {
      opacity: 1;
      transform: scaleY(14);
    }
  }
}

#inbrief-section {
  .social-links {
    a,
    a:visited {
      display: flex;
      align-items: center;
      color: var(--body-color);
      font-size: 30px;
      margin-bottom: 30px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }

      @media (max-width: $mobile-breakpoint) {
        display: inline-block;
        margin: 0;
        margin-right: 10px;

        span {
          display: none;
        }
      }
    }
  }

  #switch__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch__text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bg-color-3);
    @include subheader;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;

    @media (min-width: $tablet-breakpoint) and (max-width: 1450px) {
      font-size: 28px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: grid;
      grid-template-columns: 1fr, 40px;
      font-size: 30px;
      row-gap: 10px;

      .slider {
        grid-column: 2;
        grid-row: 1 / span 2;
        transform: rotate(90deg);
      }
    }

    .slider {
      position: relative;
      width: 1.5em;
      height: 0.5em;
      border-radius: 0.75em;
      border: 4px solid var(--bg-color-3);
      transition: height 0.2s;
      display: flex;
      align-items: center;
    }

    :hover > .slider {
      height: 0.8em;
      background: repeating-linear-gradient(
        45deg,
        var(--bg-color-3) 0,
        var(--bg-color-3) 25%,
        transparent 0%,
        transparent 50%
      );
      background-size: 35px 35px;
      background-position: 0 0;
      animation: stripe-anim 3s linear infinite;
    }

    .slider::before {
      content: '';
      height: 0.8em;
      width: 0.8em;
      margin: -0.2em;
      background-color: var(--section-color);
      border-radius: 100%;
      transition: transform 0.2s;
    }

    .personal {
      color: var(--section-color);
      font-weight: bold;
    }
  }

  .content__recruiter {
    display: none;
  }

  #switch__checkbox:focus + .switch__text > .slider {
    border: 5px solid var(--section-color);
  }

  #switch__checkbox:checked {
    ~ .switch__text {
      .personal {
        color: inherit;
      }

      .recruiter {
        color: var(--section-color);
        font-weight: bold;
      }

      .slider::before {
        transform: translateX(100%);
      }
    }

    ~ .content__recruiter {
      display: initial;
    }
    ~ .content__personal {
      display: none;
    }
  }
}

.section__summary {
  padding-bottom: 125px;
  div {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 50px 1fr;
    column-gap: 25px;
    margin-top: 100px;

    p {
      font-family: var(--header-font);
      font-weight: bold;
      font-size: 36px;
      margin: 0;
      color: var(--section-color);
      writing-mode: vertical-lr;

      @media (max-width: $mobile-breakpoint) {
        font-size: 30px;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      font-size: 24px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
      }

      li {
        margin-bottom: 18px;
      }
    }
  }
}

.img-link {
  margin-top: 30px;
  @media (max-width: $tablet-breakpoint) {
    margin-top: 0;
  }
}

.blog-post__container {
  display: flex;
  flex-direction: column;
}

.blog-post__list {
  .blog-post {
    position: relative;
    display: grid;
    grid-template-areas:
      'icon title'
      'min-read title';
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
    column-gap: 24px;
    color: var(--body-color);
    text-decoration: none;
    margin-bottom: 40px;

    .title {
      grid-area: title;
      font-size: 24px;
      align-self: center;
    }
    .min-read {
      @include header-font;
      grid-area: min-read;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
    }
    .mug {
      height: 50px;
      width: 50px;
      margin: auto;
      grid-area: icon;
    }

    @media (min-width: $tablet-breakpoint) {
      &.headline-mobile-version {
        display: none;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 40px;

      .title {
        font-size: 24px;
      }

      .min-read {
        font-size: 14px;
      }
    }

    &::after {
      --size: 15px;
      content: '';
      position: absolute;
      background: url('/assets/icons/arrow-link-accent.svg');
      background-size: var(--size) var(--size);
      top: -10px;
      right: -10px;
      width: var(--size);
      height: var(--size);
      transition: transform 0.2s;
    }

    &:hover::after {
      transform: translate(15px, -15px);
    }
  }
}

.blog-post__headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    color: var(--body-color);
  }

  .img-link__img-container > picture > img {
    aspect-ratio: 12 / 9;
    object-fit: cover;
    object-position: left;
  }

  .min-read {
    position: absolute;
    bottom: 16px;
    left: 10px;
    background: var(--bg-color);
    padding: 5px 10px;
    margin: 0;
    color: var(--body-color);
    @include header;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
  }

  .mug {
    height: 1.5em;
    margin-right: 10px;
  }
}

@keyframes stripe-anim {
  to {
    background-position: -75px, -75px;
  }
}

@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

#icreate-section > .subsection {
  grid-template-areas:
    'macintosh title'
    'macintosh body'
    'macintosh links';

  @media (max-width: $tablet-breakpoint) {
    grid-template-areas:
      'macintosh switch title'
      'macintosh switch body'
      'links switch body';
    grid-template-columns: 80% 20% 80%;
    column-gap: 25px;
    row-gap: 0;
    overflow: hidden;

    * {
      transition: transform 0.2s;
    }
  }

  @media (max-width: 600px) {
    grid-template-areas:
      'switch _'
      'macintosh title'
      'macintosh body'
      'links body';
    grid-template-columns: 100% 100%;
  }
}

#projects-title {
  @include subheader;
  grid-area: title;
}

#projects-body {
  grid-area: body;
}

.macintosh {
  grid-area: macintosh;
  justify-self: end;
  align-self: end;
  max-width: 400px;
  margin-top: 50px;
  z-index: -1;

  @media (max-width: $tablet-breakpoint) {
    justify-self: start;
    margin-top: 0;
    align-self: center;
  }

  .macintosh__img-container {
    > video {
      opacity: 0;
    }

    .visible {
      animation: macintosh-image-glitch-in 0.4s step-start forwards;
    }

    #projects-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@keyframes macintosh-image-glitch-in {
  0% {
    transform: skew(0) scaleX(1);
    opacity: 0;
  }
  20%,
  90% {
    transform: skew(-10deg) scaleX(1.5);
    opacity: 1;
  }
  30% {
    transform: translateX(10px) skew(-10deg) scaleX(1.5);
    opacity: 1;
  }
  100% {
    transform: skew(0) scaleX(1);
    opacity: 1;
  }
}

#project-details-toggle {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  @media (max-width: $tablet-breakpoint) {
    &:checked ~ label {
      &::before {
        content: 'Other projects';
      }
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 600px) {
    &:checked ~ *:not(label) {
      transform: translateX(calc(-100vw + 20px));
    }
  }

  @media (min-width: 600px) and (max-width: $tablet-breakpoint) {
    &:checked ~ * {
      transform: translateX(-550px);

      @media (max-width: $mobile-breakpoint) {
        transform: translateX(-500px);
      }
    }
  }
}

label[for='project-details-toggle'] {
  grid-area: switch;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  font-size: 48px;
  font-family: var(--header-font);
  transition: opacity 0.2s, transform 0.2s;

  &::before {
    content: 'About project';
  }

  &::after {
    margin-top: 30px;
    transition: transform 0.2s;
    --icon-size: 1em;
    --icon-color: var(--body-color);
  }

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }

  @media (max-width: 600px) {
    writing-mode: initial;
    font-size: 9vw;
    margin-bottom: 20px;

    &::after {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.projects__link-container {
  grid-area: links;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: start;
  align-items: center;
  font-size: 30px;

  @media (max-width: $tablet-breakpoint) {
    margin-top: -60px;
    font-size: 26px;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 65px 1fr;
    padding-left: 25px;
  }

  a,
  button {
    cursor: pointer;
  }

  #generate-random-project {
    padding-right: 20px;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: 450px) {
      padding: 10px;
      font-size: 18px;
    }
  }

  a {
    @include subheader-font;
    text-decoration: none;
    font-size: 20px;

    &::after {
      margin-left: 10px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
    }
  }

  #dice-container {
    grid-row: 1 / span 2;
    position: relative;
    height: 100px;

    &.animated {
      --anim-length: 2.5s;
      .outer-wrapper {
        animation: dice-bounce-outer var(--anim-length) linear forwards;

        .inner-wrapper {
          animation: dice-bounce-inner var(--anim-length) ease-in forwards;

          img {
            animation: dice-spin var(--anim-length) linear forwards;
          }
          &::before {
            animation: dice-spin var(--anim-length) linear forwards,
              dice-spin-offset var(--anim-length) ease-out forwards;
          }
        }
      }

      .outer-wrapper.delayed {
        --delay: 0.3s;
        animation-name: dice-bounce-outer-delayed;
        animation-delay: var(--delay);

        .inner-wrapper {
          animation-name: dice-bounce-inner-delayed;
          animation-delay: var(--delay);

          &::before,
          img {
            animation-name: dice-spin-delayed;
            animation-delay: var(--delay);
          }
        }
      }

      @media (max-width: $tablet-breakpoint) {
        .outer-wrapper,
        .outer-wrapper.delayed {
          animation-name: none;
        }
      }
    }

    .outer-wrapper {
      --delay: 0s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 40px;

      &.delayed {
        transform: translateX(-25px);

        .inner-wrapper {
          transform: translateY(-38px);

          &::before {
            left: 6px;
          }
        }
      }

      .inner-wrapper {
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: -6px;
          left: -6px;
          width: 100%;
          height: 100%;
          background: #faf1d8;
          outline: 3px solid #7931e3;
          outline-offset: -3px;
        }
      }
    }
  }
}

@keyframes dice-bounce-outer {
  0%,
  80%,
  100% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-200px);
    animation-timing-function: cubic-bezier(0, 0, 0.74, 0.98);
  }
  70% {
    transform: translateX(-10px);
    animation-timing-function: ease-out;
  }
}

@keyframes dice-bounce-outer-delayed {
  0%,
  75%,
  100% {
    transform: translateX(-25px);
  }
  15% {
    transform: translateX(-200px);
    animation-timing-function: cubic-bezier(0, 0, 0.74, 0.98);
  }
  65% {
    transform: translateX(-10px);
    animation-timing-function: ease-out;
  }
}

@keyframes dice-bounce-inner {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  25%,
  45%,
  65% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  15% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-70px);
  }
  55% {
    transform: translateY(-30px);
  }
}

@keyframes dice-bounce-inner-delayed {
  0%,
  75%,
  100% {
    transform: translateY(-38px);
  }
  20%,
  50% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  10% {
    transform: translateY(-100px);
  }
  35% {
    transform: translateY(-80px);
  }
  65% {
    transform: translateY(-35px);
  }
}

@keyframes dice-spin {
  15% {
    transform: rotate(-200deg);
  }
  45% {
    transform: rotate(150deg);
  }
  70% {
    transform: rotate(380deg);
    animation-timing-function: ease-in;
  }
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dice-spin-delayed {
  15% {
    transform: rotate(-200deg);
  }
  45% {
    transform: rotate(250deg);
  }
  65% {
    transform: rotate(370deg);
    animation-timing-function: ease-in;
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dice-spin-offset {
  15%,
  25%,
  45%,
  65% {
    top: 6px;
    left: -6px;
  }
  35%,
  55%,
  75%,
  100% {
    top: -6px;
    left: -6px;
  }
}

@media (max-width: $tablet-breakpoint) {
  section {
    --content-max-width: 700px;
  }
  section:not(#header-section) {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-right: auto;

    h3 {
      grid-column: 1;
    }

    &.section__summary > div {
      margin-top: 0;
    }

    .img-link {
      max-width: 600px;
    }
  }
}
