:root {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;

  --default-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --body-font: proxima-nova, 'Open Sans', var(--default-fonts);
  --header-font: rigid-square, 'Fira Code', monospace, var(--default-fonts);

  --body-color: #5f4b32;
  --body-color-2: #948067;
  --bg-color: #f9f1db;
  --bg-color-2: #d9c7ab;
  --green: #24ac6c;
  --green-faded: #5fb88e;
  --section-color: var(--green);
  --purple: #7931e3;
  --red: #e46a4e;
  --red-faded: #e07c64;
  --red-dim: #e4694e71;

  --content-max-width: 1400px;
  --nav-height: 100px;
  --me-font-size: 24px;

  --nav-anim-duration: 0.8s;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--body-font);
  font-size: var(--me-font-size);
  color: var(--body-color);
  background: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

h1,
h2 {
  font-size: 100px;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-size: 36px;
  margin-bottom: 10px;
}

a,
a:visited {
  color: var(--section-color);
  text-decoration: underline dashed;
}

a:hover {
  animation: flash 0.4s ease-in-out infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

body {
  margin: 0;
}

section {
  max-width: var(--content-max-width);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
  margin-top: 100px;
}

button {
  background: none;
  border: none;
  font-family: var(--header-font);
  color: var(--body-color);
  cursor: pointer;
}

[data-route] {
  counter-reset: section-number;

  &.slideOut,
  &.slideIn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    animation-duration: var(--nav-anim-duration);
    animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  &.slideIn {
    animation-name: slidePageIn;
  }
  &.slideOut {
    animation-name: slidePageOut;
  }
}

@keyframes slidePageIn {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidePageOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
